
@{
    ViewBag.Title = "FormAltaError";
}

<h2>No se genero la venta, intentelo nuevamente</h2>

@ViewBag.Mensaje


@Html.ActionLink("Volver", "PaginaMenu", "Home", new { area = "" }, new { @class = "narvbar-brand" })

